@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tenor+Sans&display=swap')


body{
    scrollbar-width: none;
    font-family: sans-serif;
}

.container{
    width: 100%;
    position: relative;
}

.top{
    position: relative;
    width: 100%;
    background-color: white;
    height: 60px;
    margin: 0px;

}
.ssylka{
    margin-left: 38%;
    width: 60%;
    background-color: white;
    height: 35px;
    top: 25px;

    display: flex;
    position: absolute;

}

.a{
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    color: black;
    transition-duration: 0.4s;
}

a:hover{
    color: orange;
}

.logo{
    position: absolute;
    top: 0px;
    left: 60px;
    width: 100px;
    height: 100px;
    z-index: 1;
}

.img1{
    width: 100%;
    height: 600px;
    font-size: cover;
}


.block{
    width: 70%;
    height: 3500px;

    margin-left: 15%;
}

.zag{
    margin-top: 10px;
    width: 80%;
    margin-right: 20px;
    font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
}

.forZag{
    margin-left: 10%; 
    display: flex;
}


.imgForZag{
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

.flex{
    padding: 20px;
    display: flex;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    color: #8e8e8d;
}

.text{
    width: 49%;
    height: 150px;
}

.chleb{
    width: 100%;
    display: flex;
    height: 400px;
    background-color: #c9c9c972

}

.imgForChleb{
    width: 50%;
    
}
.text1{
    width: 50%;
    padding: 30px;
    
}

.zagForText1{
    font-family: "Pacifico";
    font-weight: bold;
    font-style: normal;
    font-size: 25px;

}


.info{
    color: #7c7c7c;
}


.imgs{
    display: flex;
    width: 100%;
}

.imgsIMG{
    width: 360px;
    height: 360px;
    
}

.imgsIMG1{
    width: 360px;
    height: 360px;
    margin-right: 46px;
    margin-left: 46px;
}



.topInfo{
    width: 100%;
    display: flex;
    height: 200px;

}

.block1{
    
    width: 30%;
    height: 300px;
}

.block2{
    width: 30%;
    height: 300px;
    margin-left: 5%;
    margin-right: 5%;
}

.forBlock1{
    width: 100%;

}

.zagForBlock1{
    font-family: "Pacifico";
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}

.infoForBlock1{
    color: #7c7c7c;
}


.chleb1{
    width: 100%;
    display: flex;
    height: 250px;
    background-color: #f3ece2

}

.imgForChleb1{
    width: 50%;
    
}
.text2{
    width: 50%;
    padding: 30px;
    
}

.zagForText2{
    font-family: "Pacifico";
    font-weight: bold;
    font-style: normal;
    font-size: 25px;

}


.info{
    color: #7c7c7c;
}


.block3{
    width: 95%;
    padding: 30px;
    height: 350px;
    background-color: #c9c9c92b
}

.zagForBlock3{
    display: flex;
}

.imgForBlock3{
    width: 60px;
    height: 60px;
}

.textForBlock3{
    margin-top: 20px;
    font-family: "Pacifico";
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
}

.osnovnoeInfo{
    display: flex;
    width: 100%;

}

.infoForBlock3{
    color: #7c7c7c;
    margin-top: 50px;
    margin-left: 20px;
}
.btn{
    margin-top: 40px;
    width: 30%;
    height: 220px;
    border-right: solid;
}

#zatemnenie {
 margin-top: 30px ;
 margin-left: 70px ;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    
  }
  
  
  a{
    text-decoration: none;
  }

  .okno{
    background-color: rgba(6, 73, 16, 0.804);
    margin: auto;
    width: 600px;
    height: 600px;
    border-radius: 25px;
    position: absolute;
    left: 500px;
    top: 200px;
  
  
  }
  
  
  #zatemnenie:target {display: block;}
  .close {
    width: 30px;
  
    display: block;
    position: relative;
    left: 500px;
    color: black;
    font-weight: bolder;
  text-align: center;
    margin: 10px;
    text-decoration: none;
    background: rgba(6, 73, 16, 0);
    font-size: 30px;
    cursor:pointer;
    transition-duration: 0.5s;
  }
  
  .close:hover{
    transform: rotate(180deg);
  }
  
  
  h1{
    position: relative;
    left: 150px;
    color: white;
    font-family: sans-serif;
  }
  
  input{
  
    width: 450px;
    height: 60px;
    margin-bottom: 35px;
    font-size: 20px;
    font-family: sans-serif;
  
  
  }
  
  .input-box{
    position: relative;
    left: 60px;
  }
  
  .input-forgot{
    position: relative;
    left: -155px;
  }
  
  
  .sogl{
    position: relative;
    left: 200px;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
  
  }
  
  button{
    position: relative;
    left: 230px;
    top: 60px;
    text-decoration: none;
    border-bottom: 2px solid black;
    border-radius: 5%;
    width: 150px;
    height: 70px;
    border: 2px solid rgb(121, 29, 186);
    color: rgb(166, 92, 201);
    font-family: sans-serif;
    font-size: 25px;
    background-color: white;
    transition-duration: 0.4s;
  }
  
  
  
  button:hover{
  
    color: white;
  }


















.knopka{
width: 180px;
height: 40px;
background-color: orange;
color: white;
font-family: "Pacifico";
font-weight: bold;
font-size: 20px;
border-radius: 4px;
padding-left: 30px;
padding-top: 10px;
transition-duration: 0.8s;
}

.knopka:hover{
    color: orange;
    background-color: white;
}

.footer{
    width: 100%;
    height: 250px;
    background-color: #8e8e8d60;
    padding-top: 40px ;
}

.imgS{
    
    margin-left: 760px;
    display: flex;
}

.imgForFooter{
    width: 40px;
    height: 40px;
    transition-duration: 0.4s;
    margin-right: 15px ;
}

.imgForFooter:hover{
    transform: scale(0.9);
}


.textForFoot{
    margin: auto 0;
    color: #8e8e8d;
    text-align: center;
}

